.backdrop{
    background-image: linear-gradient(yellow, orangered);
    height: 90vh;
}

.borders{
    border-color: orangered;
}

.bgrd{
    
    background-image: url("/img/lava.gif");
}